faster-whisper==1.1.1
pyannote.audio==3.3.2
transformers==4.37.2
TorchAudio==2.2.2
torchtext==0.17.2
pyannote.core==5.0.0
sentence-transformers==2.3.1
torch==2.2.2
lightning_fabric==2.2.0.post0
lightning-bolts==0.7
ray==2.43.0
fastapi==0.115.6
fastapi-cli==0.0.5
urllib3==2.2.3
uvicorn==0.32.1
websockets==14.1
yarl==1.18.3
ctranslate2==4.4.0
librosa==0.10.2.post1
